@font-face {
    font-family: "Teeworlds";
    src: url(../fonts/knowyour.ttf) format("truetype");
}

/* === Colors === 
Black: #1a1b2c

*/


:root {
    --bg-color: #1a1a1d;
    --nav-color: #1a1a1d;
    --font-color: #950740;
    --pressed-color: #4e4e50;
    --focus-color: #FFF;
  }

* {
    box-sizing: border-box;
    outline: none;
}

body, html {
    width: 100%;
    height: 100%;
    font-size: 16px;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background: var(--bg-color);
    margin: 0;
    color:var(--font-color); 
}

::selection {
    background: #6F2232; 
  }


/* Focus */
.container a > span {
    border-radius: 5px;
    border: 1px solid transparent;
}

.container a:focus > span {
    border: 1px solid var(--focus-color);
    padding: 20px;
}

.container a > div {
    height: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
}

.container a:focus > div {
    border: 1px solid var(--focus-color);
}
/* === NAvigation === */

.header-nav {
    z-index: 1;
    font-family: 'Teeworlds';
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: var(--nav-color);
}

.header-nav .col-6 > a {
    display: inline-block;
    height: 100%;
    width: auto;        
}


.header-nav a img {
    height: 100%;
    width: auto;
    float: left;
}

.header-nav ul {
    margin: 0;
    padding: 0;
    float: right;
    height: 100%;
    width: 70%;

}

.header-nav ul > li {
    display: inline-block;
    box-sizing: border-box;
    font-size: 2rem;
    text-align: center;
    height: 100%;
    width: 25%;
}

.header-nav ul > li > a {
    text-decoration-line: none;
    display: inline-block;
    margin-top: 27px;
    padding: 5px 5px 5px 5px;
}

.header-nav ul > li > a:link {
    color: var(--font-color);
}

.header-nav ul > li > a:visited {
    color: var(--font-color);
}

.header-nav ul > li > a:hover {
    color: #FFF;
}

.header-nav ul > li > a:active {
    color: #FFF;
}

.header-nav .container {
    width: 100%;
}
.header-nav .container , .header-nav .row, .header-nav .col-6{
    height: 100%;
}
.header-nav .col-6 {
    padding: 0;
}

.active {
    background-color: var(--pressed-color) !important;
}

/* Navigation list mobile */

.mobile-nav {
    position: relative;
    float: right;
}

.mobile-nav-button {
    color: var(--font-color);
    border: 2px solid var(--font-color);
    width: 80px;
    height: 80px;
    position: relative;
    padding-top: 12%;
    padding-left: 10%;
    margin: 9.6px 9.6px 10px;
}

.mobile-nav-button > svg {
    fill: var(--font-color);
    height: 55px;
    width: 55px;
}

.mobile-nav:hover > .mobile-nav-content, .mobile-nav:focus > .mobile-nav-content{
    display: block;
}


.mobile-nav-content  {
    top: 100px;
    width: 250px;
    position: absolute;
    right: 0;
    display: none;
}

.mobile-nav-content > ul {
    width: 100%;
}

.mobile-nav-content > ul > li {
    display: block;
    background-color:  var(--nav-color);
    width: 100%;
    height: 100px;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

/*header*/
.banner-header {
    box-sizing: unset;
    width: 100%;
    height: 0;
    padding-top: 19.85%;
    background: url(../img/TwBanner.jpg) no-repeat center center;
    background-size: contain;
    position: relative;
}

.banner-header > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

h1 {
    text-align: center;
    font-family: Teeworlds;
    font-size: 6rem;
}

h2 {
    text-align: center;
    font-family: Teeworlds;
    font-size: 4rem;
}

h3 {
    font-family: Teeworlds;
    font-size: 2rem;
}

p {
    font-size: 2rem;
}

.hyperlink {
    display: inline;
    margin-top: 27px;
}

.hyperlink:link {
    color: var(--font-color);
}

.hyperlink:visited {
    color: var(--font-color);
}

.hyperlink:hover {
    color: #FFF;
}

.hyperlink:active {
    color: #FFF;
}
/* === Grid System === */

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}
 
[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: .8rem;
}

.col-1 {
    width: 16.666%;
}

.col-2 {
    width: 33.333%;
}

.col-3 {
    width: 50%;
}

.col-6 { 
    width: 100%;
}

/*Grid Sichtbarkeit
.border, .border * {
    border: 1px solid green;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: .8rem;
    background-color: red;
}

p {
    background-color: rgb(55, 43, 226);
    padding: 0;
    margin: 0;
    color: #FFF;
    text-align: center;
}*/

.small-nav {
    display: none;
}


/* ==== timeline === */

button {
    text-align: center;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 5px;
}

.dateselection button{
    color: var(--font-color);
    background: var(--bg-color);
    width: 100%;
    height: 100%;
}

.navbutton > button {
    position: absolute;
    width: 50%;
    height: 26%;
    top: 20%;
    left: 30%;
    color: var(--font-color);
    font-size: 100px;
    background: var(--bg-color);
}

button > span {
    width: 100%;
    height: 100%;
    display: inline-block;
    border: 1px solid transparent;
}

button:focus > span {
    border: 1px solid var(--focus-color) !important;
    border-radius: 5px;
}


.timeline {
    padding: 0;
    margin: 0;
    height: 500px;
    width: 100%;
    position: relative;
}

.timelineelement {
    display: inline-block;
    width: 80%;
    height: 100%;
    overflow: auto;
    left: 10%;
    position: absolute;
}

.timeline > li:not(.timelineelement) {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 10%;
}

.after {
    left: 90%;
}

/* signups */

.signups .row {
    border-bottom: 2px solid var(--font-color);
}
.signups {
    overflow: auto;
    height: 1000px;
}
.signups .col-3 {
    padding-bottom: 0;
    padding-top: 0;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--pressed-color);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--font-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--focus-color);
  }

/* Youtubevideo */
.ytvideo {
    position: relative;
    padding-bottom: 40%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.ytvideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 1150px)
{
    .container a:focus > span {
        padding: 5px;
    }
    .small-nav{ display: block;}
    .desktop-nav {display: none;}
    .col-1 { width: 33.333%;}
}

@media ( max-width: 768px)
{
    .col-1 { width: 50%;}
    .col-2 { width: 100%;}
    .col-3 {width: 100%;}
    h1 {
        font-size: 4rem;
    }
}

@media (max-width: 480px) {
    .col-1 { width: 100%;};
}

@media (max-height: 768px) and (min-width: 1151px){
    .header-nav {
        height: 70px;
    }

    .header-nav ul > li > a {
        margin-top: 1rem;
    }
}
@media (max-height: 768px) and (max-width: 1150px){
    .header-nav {
        height: 70px;
    }
    .mobile-nav-content  {
        top: 70px;
    }

    .mobile-nav-button {
        width: 60px;
        height: 60px;
        margin: 5px 5px 5px;
    }

    .mobile-nav-button > svg {
        width: 40px;
        height: 40px;
    }

    .mobile-nav-content > ul > li {
        height: 60px;
    }
    .mobile-nav-content > ul > li > a {
        margin-top: 8px;
    }
}




